@import "../../../style/common/variables.scss";

.default-button {
  display: block;
  outline: none;
  border: none;

  cursor: pointer;

  color: #fff;
  background-color: $orange;
  border: 1px solid $orange;
  padding: 1rem 4rem;

  font-size: $medium;
  border-radius: 0.5rem;

  transition: all 150ms ease-in;

  @media screen and (max-width: 600px) {
    padding: 1.2rem 3.6rem;
    font-size: $x-small;
  }

  @media screen and (max-width: 360px) {
    font-size: $x-small;
    padding: 0.8rem 2.2rem;
  }

  &:hover {
    background-color: #fff;
    color: $orange;
  }
}

.submit-button {
  display: block;
  background-color: $black;
  color: $white;

  width: 100%;
  font-size: 2rem;
  padding: 2rem;

  border-radius: 0.5rem;

  cursor: pointer;

  transition: all 150ms ease;

  &:hover {
    background-color: $grey-normal;
  }
}

.filter-button {
  display: block;
  background-color: $black;
  color: $white;
  text-transform: uppercase;

  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem;

  border-radius: 0.5rem;

  cursor: pointer;

  transition: all 150ms ease;

  &:hover {
    background-color: $grey-normal;
  }
}
