@import "../../../style/common/variables.scss";

.category-card {
  position: relative;
  text-transform: uppercase;

  &__content-wrapper {
    position: absolute;
    bottom: 25%;
    left: 10%;

    &__header {
      &__link {
        &:link,
        &:visited {
          color: $white;
          text-decoration: none;
          transition: all 150ms ease-in;
        }

        &:hover,
        &:active {
          color: $orange;
        }
      }
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;

    z-index: -1;
  }
}

.margin-top {
  margin-top: 1.4rem;
}
