@import "../../../style/common/variables.scss";

.userMenuNav {
    // border: 2px solid violet;
    z-index: 99;
    // position: relative;
    // display: flex;
    flex-direction: column;
    // padding: 3%;
    margin: 0 auto;
}

.item {
    font-size: $small;

    span {
        font-weight: 600;
        color: $orange;
    }

    &__wishlistItems {
        margin-left: 1rem;
    }
}

.logOut {
    font-size: $medium !important;

    &__p {
        font-size: $small;
    }
}