@import "../../style/common/variables.scss";
@import "../../style/common/variables.scss";

.delivery {
    h1 {
        margin: 1rem 0 3rem 0;
    }

    h3 {
        color: $grey-normal;
        line-height: 1.4;

    }

    p {
        margin: 1rem 0;
        line-height: 1.3;
    }

    a {
        color: $orange;
        font-weight: 600;
    }

    a:hover {
        color: $blue;
    }
}

@media screen and (min-width: 768px) {
    .delivery {
        h2 {
            font-size: $x-large;
        }

        h3 {
            font-size: $large;
        }

        p {
            font-size: $medium;
        }
    }
}