@import "../../style/common/variables.scss";

.address {

    h2 {
        text-transform: uppercase;
        text-align: center;
        margin: 6rem;
        font-size: $large;
    }


    margin-top: 2rem;

    h3 {
        text-transform: uppercase;
        margin-top: 6rem;
    }

    li {
        margin: 2rem 0;
        font-size: $medium;
    }



    &__p {
        margin: 0.9rem 0;
        color: $grey-normal;
        font-size: $small;
        text-transform: uppercase;
    }

    &__empty {

        p {
            text-align: center;
            font-size: $medium;
            color: $grey-normal;
        }
    }
}

.delete {
    color: $grey-normal;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.delete:hover {
    color: $orange;
    transition: all 0.2s;
    font-weight: 600;
}

@media screen and (min-width: 600px) {
    .address__container__list {
        // border: 2px solid red;
        max-width: 60rem;
        margin: 0 auto;
    }

    .address__container {

        h3 {
            font-size: $medium;
        }

        li {
            font-size: $medium;
            display: flex;
            align-items: center;
            margin: 1rem 0;
        }


        span {
            margin-left: 2rem;
        }


        &__p {
            font-size: $medium;
        }

    }
}

@media screen and (min-width: 500px) {
    .address__container {
        max-width: 70rem;
        margin: 6rem auto;
    }
}