@import "../../../style/common/variables.scss";


.mySwiper {
    height: 80%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

    }
}

.mySwiper2 {
    height: 20%;
    padding: 10px 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .swiper__container {
        width: 40%;

        // display: flex;
    }
}