@import "../../style/common/variables.scss";

.products-list {
  position: relative;
  padding: 4.5rem 0;
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__no-products {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5rem;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 650px) {
  .products-list {
    .grid-list {
      padding: 2rem 8rem 3rem;
    }
  }
}
