@import "../../../style/common/variables.scss";
@import "../../../style/common/mixin.scss";

.cart-item {
  position: relative;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  @include flex(flex-start, center);

  padding: 1rem;

  &__img {
    height: auto;
    max-width: 17%;
    min-width: 12rem;

    @media screen and (max-width: 800px) {
      max-width: 25%;
    }
  }

  &__info {
    margin-left: 8rem;

    @media screen and (max-width: 800px) {
      margin-left: 2rem;
    }

    &__color-size {
      font-size: $x-small;
      margin-top: 0.6rem;

      @include flex(normal, normal);
      gap: 1rem;
    }

    &__price {
      color: $orange;
      font-size: $large;
      margin-top: 1rem;
    }
    &__name {
      font-size: $medium;
      margin-top: 1.2rem;
    }
    &__brand {
      font-size: $small;
      margin-top: 0.6rem;
    }
    &__quantity {
      position: relative;
      font-size: $medium;
      margin-top: 2rem;

      input {
        margin-left: 1.6rem;
        display: inline-block;
        width: 10rem;
        font-size: $small;
        padding: 0.6rem 1.2rem;

        @media screen and (max-width: 800px) {
          width: 7rem;
          margin-left: 1rem;
        }
      }

      .confirm {
        position: absolute;
        top: 50%;
        right: -4rem;

        background-color: $grey-light;
        height: 100%;
        width: 5rem;
        cursor: pointer;

        border-radius: 0.5rem;
        @include flex();
        transform: translate(50%, -50%);

        &:hover {
          background-color: $orange;
        }

        .undo {
          position: absolute;
          top: 50%;
          right: -4rem;

          background-color: $grey-light;
          height: 100%;
          width: 5rem;
          cursor: pointer;

          border-radius: 0.5rem;
          @include flex();
          transform: translate(50%, -50%);

          &:hover {
            background-color: $orange;
          }
        }
      }
    }
  }

  &__delete {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;

    transform: translate(-50%, 50%);

    &__icon {
      font-size: 30px !important;

      @media screen and (max-width: 800px) {
        font-size: 25px !important;
      }
    }
  }
}
