@import "../../../style/common/variables.scss";

.default-input {
  width: 100%;
  outline: none;
  border: 2px solid $black;
  padding: 2rem;
  font-size: $small;

  border-radius: 0.5rem;

  &--error {
    border-color: $red;
  }
}

.default-label {
  width: 100%;
  color: $grey-dark;
  display: block;
  margin: 3rem 0 1rem 0;
  font-weight: $small;
  font-size: $large;
  text-transform: uppercase;
}

.default-input::placeholder {
  font-size: $small;
}

@media screen and (min-width: 500px) {
  .default-input {
    font-size: $medium;
  }
}