@import "../../style/common/variables.scss";

.error {
    margin: 5rem 10%;
    text-align: center;
    box-shadow: $shadow;

    padding: 6% 3%;

    h1 {
        margin: 0 auto 3rem auto;
    }

    h3 {
        margin: 2rem auto;
        line-height: 1.2;
        color: $grey-normal;
    }

    h4 {
        margin: 2rem auto;
        line-height: 1.3;
    }

    p {
        line-height: 1.4;
    }

    .link {
        color: $orange;
        text-decoration: underline;
        margin: 0 0.5rem;
    }

    .link:hover {
        font-weight: 600;
    }
}