@import "../../../style/common/mixin.scss";
@import "../../../style/common/variables.scss";

.main-header__mobile-menu {
  height: 100%;
  position: relative;

  .mobile-menu__item {
    @include flex(space-between, center);
    text-transform: uppercase;
    padding: 2rem 2rem 2rem 7rem;
    color: $grey-normal;
    font-size: $small;
    border-bottom: 1px solid #f3f3f3;

    &.active {
      font-weight: 700;
      background-color: #f3f3f3;
    }
  }

  .main-header__mobile-menu__bottom {
    background-color: #ebebeb;
    padding: 3rem 2rem;

    .main-header__mobile-menu__bottom__text {
      font-size: $x-small;
      color: $grey-normal;
      margin-top: 2rem;
    }
  }
}

@media (min-width: 1200px) {
  .main-header__mobile-menu {
    display: none !important;
  }
}
