@import "../../../style/common/variables.scss";

.default-input {
  width: 100%;
  outline: none;
  border: 2px solid $black;
  padding: 2rem;
  font-size: $small;

  border-radius: 0.5rem;

  &--error {
    border-color: $red;
  }
}

.default-label {
  width: 100%;
  color: $grey-dark;
  font-size: $small;
  display: block;
}

.password-wrapper {
  position: relative;
}

.icon-container {
  display: inline-block;
  position: absolute;

  right: 5%;
  top: 50%;

  transform: translateY(-50%);

  cursor: pointer;
}

.margin-top-small {
  margin-top: 0.8rem;
}

.default-input::placeholder {
  font-size: $small;
}

@media screen and (min-width: 500px) {
  .default-label {
    font-size: $medium;
  }

  .default-input,
  .default-input::placeholder {
    font-size: $medium;
  }

}