$black: #000;
$white: #fff;
$orange: #ee6317;
$red: #d01345;
$green: #018849;
$green-hover: #006637;
$grey-dark: #2d2d2d;
$grey-light: #eee;
$grey-normal: #525050;
$blue: #0770cf;

$xx-small: 1.024rem;
$x-small: 1.28rem;
$small: 1.6rem;
$medium: 2rem;
$large: 2.5rem;
$x-large: 3.125rem;
$xx-large: 3.906rem;
$xxx-large: 4.883rem;
